<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>添加设备</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/add.css">
    <script src="../js/main.js"></script>
    <script src="../js/rem.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/add.js"></script>
</head>
<body>
<header>
    <h1>添加设备</h1>
    <div class="imgBox">
        <img src="../images/back.png" alt="">
    </div>
</header>
<div class="code"></div>
<p>将二维码条码放入框内，即可自动扫描添加</p>
</body>
<div class="addCode">手动输入序列号</div>

<!--点击弹出框-->
<div class="click">
    <div class="clickBox">
        <input type="text" class="clickTop" placeholder="请输入序列号">
        <div class="clickBottom clickLeft">添加</div>
        <div class="clickBottom clickRight">取消</div>
    </div>
</div>
</html>


