<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>忘记密码</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/forget.css">
    <script src="../js/main.js"></script>
    <script src="../js/rem.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/forget.js"></script>
</head>
<body>
<header>
    <h1>忘记密码</h1>
    <div class="imgBox">
        <img src="../images/back.png" alt="">
    </div>
</header>
<div class="line"></div>

<div class="inputBox">
    <h6>手机号 :</h6>
    <input class="tel" type="text" placeholder="请输入手机号码">
</div>
<div class="inputBox inputBoxs">
    <h6>验证码 :</h6>
    <input type="text" class="code-input" placeholder="请输入验证码">
    <div class="send">获取验证码</div>
</div>
<div class="submit">提交信息</div>
</body>
</html>