<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录页</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/login.css">
    <script src="../js/main.js"></script>
    <script src="../js/rem.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/login.js"></script>
</head>
<body>
<header>登录</header>
<div class="line"></div>

<div class="inputBox">
    <div class="imgBox">
        <img src="../images/user.png" alt="">
    </div>
    <input type="text" placeholder="请输入账号" name="username">
</div>
<div class="inputBox inputBoxs">
    <div class="imgBox">
        <img src="../images/pass.png" alt="">
    </div>
    <input type="password" placeholder="请输入密码" name="password">
</div>

<div class="remember">
    <div class="remBig">
        <div class="remSmall"></div>
    </div>
    <h1>记住密码</h1>
</div>

<div class="login">登录</div>

<a href="forget.html" class="forget">忘记密码?</a>
<a href="register.html" class="register">新用户注册</a>
</body>
</html>