<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人中心</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/myindex.css">
    <script src="../js/main.js"></script>
    <script src="../js/rem.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/myindex.js"></script>
</head>
<body>
<header>
    <a href="personal.html" class="set">
        <img src="../images/set.png" alt="">
    </a>
</header>
<div class="personal">
    <img src="" alt="">
    <h3>工程师 Lee</h3>
    <h4>gongshengsi@sina.com</h4>
</div>
<div class="line"></div>
<a href="help.html" class="list">
    <img src="../images/kefu.png" alt="">
    <h5>联系客服</h5>
</a>
<a href="edition.html" class="list">
    <img src="../images/banben.png" alt="">
    <h5>关于版本</h5>
</a>
<a href="javascript:;" class="list" id="exit">
    <img src="../images/exit.png" alt="">
    <h5>退出登录</h5>
</a>
<div class="nav">
    <div class="option">
        <a href="../index.html" class="son">
            <img src="../images/monitors.png" alt="">
            <h6 class="gulp">监控区</h6>
        </a>
    </div>
    <div class="option">
        <a href="javascript:;" class="son">
            <img src="../images/myselfs.png" alt="">
            <h6>我的</h6>
        </a>
    </div>
</div>
</body>
</html>